<!DOCTYPE html>
<html lang="en">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <head>
    <title>Software Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/sign-up.css') }}">
  </head>
  
  <body>
    <div align='center' class="background"> 
      <div class="form_signup">
        <form method="post" action="/signup">
          <h3>Sign Up</h3>
          <label for="username">Username</label>
          <input class="form-signin" type="text" name="username" required/>    
          <label for="email">Email</label>
          <input class="email" type="text" name="email" required/>
          <label for="github">GitHub (Optional)</label>
          <input class="github" type="text" name="github">
          <label for="password">Password</label>
          <input type="password" name="password" required minlength="6"/>
          <label style="color:red;display: inline-flex;" name="error_statement">{{error_statement}}</label>
          <button class="signup"type="submit" name="submit" >Sign Up</button>
        </form>
        <a style="text-decoration: none;"href="{{ url_for('login') }}" ><Button class="login">Login</Button></a>

      </div>
      
    </div>
  </body>
</html>